body {
    font-family: 'PT Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

