body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Claris SIL', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #3d2323;
}

* {
    box-sizing: border-box;
}

.header {
    
    background-color: #aaf5f5;
}
div {
    display: block;
}
.main {
   margin-bottom: auto;
}

.footer {
   background-color: #aaf5f5;
   padding: 20px;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
    padding: 0 20px;
    line-height: 50px;
    color:black;
    text-decoration: none;
    transition: color .3s;
}

.nav-link:hover {
    color: #0454ff ;
}

.avatar {
    border-radius: 50%;
}

.section-profile {
    display: flex;
    width: 100%;
    padding: 10px 30px 35px;
    border-bottom: 15px solid #cdfcfc;
}

.section-title {
font-size: 30;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 5px;
color: #3d2323;
}

.section-profile-title {
    display: flex;
    flex-direction:column;
    padding: inherit;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
} 

.footer-container {
    text-align: end;
    color: #3d2323;
    font: 18px;
}

.footer-rs{
    width: 30px;

}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

@media (orientation: landscape) {
    .section {
        color: #3d2323;
    }
}

